@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&display=swap');

.header {
    min-height: 770px;
    background-color: #1A2247;    
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
}
.logo {
    margin-top: 30px;
    width: 266px;
}

.nav li{
    margin-top: 49px;
    padding-right: 68px;
    display: inline-block;
    color: #929292;
    font-size: 16px;
    list-style: none;
}

.phone-number {
    margin-top: 47px;
    font-size: 20px;
    font-weight: Bold;
    color: #FFFFFF;
    margin-right: 0;
}

.phone-button {
    margin-top: 37px;
    background-color: #FF4180;
    color: #FFFFFF;
    border-radius: 94px;
    padding: 10px 60px 10px 60px;
    font-size: 17px;
    font-weight: 500;
    margin-left: 0;
}

.phone {
    padding-inline: 5;
    vertical-align: center;
}

.hrow {
    display: flex;
    justify-content: space-between;
}

.content {
    max-width: 518px;
    margin-top: 160px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 48px;
    color: #FFFFFF;
    font-weight: Bold;
    font-family: 'Montserrat', sans-serif;
}

.description {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 200;
    margin-top: 16px;
}

.order {
    margin-top: 30px;
    border: 5px solid #FF4180;
    color: #FF4180;
    border-radius: 94px;
    padding: 10px 60px 10px 60px;
    font-size: 24px;
    font-weight: 600;
}

.gazelimage {
    width: 740px;
    height: 460px;
    margin-top: 100px;
}

.title1 {
    font-size: 48px;
    color: #1A2247;
    font-weight: 800;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    margin-top: 110px;

}

.services {
    margin-top: 90px;
}

.services-row {
    display: flex;
    justify-content: space-between;
}

.service-card {
    text-align: center;
}

.shieldimg {
    margin-bottom: 30px;
}

.service-card-title {
    color: #1A2247;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.service-card p{
    color: #595959;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

.usl1{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 90px;
}

.twom{
    width: 728px;
    height: 438px;
}

.pereezd {
    margin-top: 82px;
}

.pereezd-title {
    font-family: 'Montserrat', sans-serif;
    color: #1A2247;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
}

.pereezd li{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #1A2247;
    font-weight: 500;
    line-height: 3;
}

.onem {
    width: 622px;
    height: 561px;
}

.usl2{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 110px;
}

.usl3 {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 110px;
}

.onembem {
    width: 586px;
    height: 484px;
}

.autopark {
    margin-top: 90px;
    background-color: #1A2247;
    min-height: 500px;
}

.autos {
    max-width: 1140px;
    margin: 0 auto;
}

.autos-row {
    display: flex;
    justify-content: space-between;
}

.auto-card {
    background-color: #0D1435;
    width: 230px;
    height: 230px;
    text-align: center;
    border-radius: 25px;
}

.titlegzl {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.auto-card p{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.gzlimg {
    margin-top: 25px;
    height: 75px;
    margin-bottom: 35px;
}

.title2 {
    padding-top: 30px;
    padding-bottom: 90px;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.footer {
    background-color: #3c3d41;
}

.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
  }
  .footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
  .footer-bs .footer-brand h2 { margin:0px 0px 10px; }
  .footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }
  
  .footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
  .footer-bs .footer-nav ul.pages li { padding:5px 0px;}
  .footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
  .footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
  .footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
  }
  
  .footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
  .footer-bs .footer-nav ul.list li { padding:5px 0px;}
  .footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
  .footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }
  
  .footer-bs .footer-social ul { list-style:none; padding:0px; }
  .footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .footer-bs .footer-social li { padding:5px 4px;}
  .footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
  .footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
  
  .footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
  }
  .footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }
  
  @media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
  }
